<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <%  if(user) {
      if(user.household) {%>
        <p>now here you will enter the household</p>
      <%} else {%>
        <p>join or start new household</p>
      <%}
    } else {%>
      <a href="/auth/google">Log In with Google</a>
    <%}%>
