<div id="household-top" onclick="window.location='/household'">
<div id="top-content">
<h1><%=household.name %></h1>
<h3>
    <% household.members.forEach(function(m) { %>
    <%= m.name %>
    <% }) %>
    </h3>
</div>
</div>