<div id="household-top">
<div id="top-content">
<h1><%=household.name %></h1>
<p>
    household members:
    <% household.members.forEach(function(m) { %>
    <%= m.name %>
    <% }) %>
</p>
</div>
</div>