<%- include ./partials/nav %>
<div class="welcome-page">
    <% if(user) { %>
        <h1> <a href="/household">go to my household</a></h1>
    <%} else {%>
        <h1>Log in and start exploring!!</h1>
    <%}%>
    
</div>
</body>
</html>