<%- include ./partials/nav %>

<% if(user) { %>
    proceed to your household: <a href="/household">here </a>
<%} else {%>
    log in to explore the whole awesomeness of this app!!
<%}%>

</body>
</html>
