body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: grid;
  grid-template-rows: 5vh 10vh 81vh;
}
h1 {
  font-size: calc(16px + 6 * ((100vw - 320px) / 680));
}
a {
  text-decoration: none;
  color: black;
}
input {
  font-size: 20px;
}
.welcome-page {
  background: url("../images/background-login.jpg");
  background-size: cover;
  height: 95vh;
  text-align: right;
}
.welcome-page > h1 > a {
  color: white;
}
#new-household {
  width: 80%;
  height: 60vh;
  margin: 10vh auto;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#new-household > form {
  border: 1px solid gray;
  height: 30%;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
}
#new-household > form > input[type="submit"] {
  width: 100px;
  font-size: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border: 1px solid gray;
}
#household-top {
  background-color:rgba(129,145,178,0.5);
  padding: 2vh 10px;
  text-align: center;
}
#hh-tiles-container{
  margin: 2vh auto;
  display: grid;
  grid-template-columns: 25vw 25vw 25vw;
  grid-gap: 2vw;
}
#hh-tiles-container > a{
  height: 100%;
  width: 100%;
  place-self: center;
}
#hh-tiles-container > a:hover {
  background: rgb(255,0,100);
}
.hh-tiles {
  height: 100%;
  width: 100%;
  text-align: center;
  border: 1px solid pink;
  filter: blur(0.5px);
}
.hh-tiles > h2 {
  display: block;
  margin: 0 auto;
  font-size: calc(20px + 6 * ((100vw - 300px) / 680));
}
.hh-tiles:hover {
  border: none;
  filter: none;
}
#hh-shopping {
  background: url("../images/shopping.jpg");
  background-size: cover;
}
#hh-chores {
  background: url("../images/tasks.jpg");
  background-size: cover;
  background-position: center;
}
#hh-msgs {
  background: url("../images/messages.jpg");
  background-size: cover;
  background-position: center;
}
#hh-spendings {
  background: url("../images/spendings.jpg");
  background-size: cover;
  background-position: center;
}
#hh-members {
  background: url("../images/members.jpg");
  background-size:cover;
  background-position: center;
}
#hh-settings {
  background: url("../images/settings.jpg");
  background-size: cover;
  background-position: left;
}
.content {
  padding: 10px;
}

