<%- include ../partials/nav %>
<% if (user.household) {%>
    <%- include ../partials/household_top %>
<%}%>


<!-- here view of all household's goodies-->
<div id="hh-tiles-container">
    <a href="/household/shopping">
        <div id="hh-shopping" class="hh-tiles">

        </div>
    </a>

    <a href="/household/tasks">
        <div id="hh-chores" class="hh-tiles">

        </div>
    </a>
    <a href="/household/messageboard">
        <div id="hh-msgs" class="hh-tiles">

        </div>
    </a>
    <a href="/household/spendings">
        <div id="hh-spendings" class="hh-tiles">

        </div>
    </a>
    <a href="/household/members">
        <div id="hh-members" class="hh-tiles">

        </div>
    </a>
    <a href="/household/settings">
        <div id="hh-settings" class="hh-tiles">

        </div>
    </a>
</div>

</body>

</html>