<%- include ../partials/nav %>
<% if (user.household) {%>
    <%- include ../partials/household_top %>
<%}%>
<div class="body-content">
<!-- here view of all household's goodies-->
<div id="hh-tiles-container">
    <a href="/household/shopping" id="test">
        <div id="hh-shopping" class="hh-tiles">
            <h2>SHOPPING</h2>
        </div>
    </a>

    <a href="/household/tasks">
        <div id="hh-chores" class="hh-tiles">
            <h2>TASKS</h2>
        </div>
    </a>
    <a href="/household/messages">
        <div id="hh-msgs" class="hh-tiles">
            <h2>MESSAGES</h2>
        </div>
    </a>
    <a href="/household/spendings">
        <div id="hh-spendings" class="hh-tiles">
            <h2>SPENDINGS</h2>
        </div>
    </a>
    <a href="/household/members">
        <div id="hh-members" class="hh-tiles">
            <h2>MEMBERS</h2>
        </div>
    </a>
    <a href="/household/settings">
        <div id="hh-settings" class="hh-tiles">
            <h2>SETTINGS</h2>
        </div>
    </a>
</div>
</div>

<%- include ../partials/footer %>