<%- include ../partials/nav.ejs %>

<div id="new-household">
    <form method="POST" action="/household" autocomplete="off">
        <h2>Name of the new Household</h2>
        <input type="text" name="name">
        <div></div>
        <input type="submit" value="OK!">
    </form>
    OR
    <form action="/household/join" method="POST" autocomplete="off">
        <h2>Enter invitation code </h2>
        <input type="text" name="code">
        <div></div>
        <input type="submit" value="OK!">
    </form>
</div>
</body>
</html>