<%- include ../../partials/nav %>
<%- include ../../partials/household_top %>

<div class="body-content">
    <div class="content">
        <a href="/household">
            <i class="fas fa-arrow-left fa-3x"></i>
        </a>
        <h1> settings </h1>
        <form action="/settings/update" method="POST">
            <label>
                Name of this Household
                <input type="text" value="<%=household.name%>">
            </label>
            <input type="submit" value="update name">
        </form>
        <hr>
        <div>
            <h2>Contact</h2>
            <a href="mailto:weronika.altowka@gmail.com">email</a>
        </div>
        
    </div>
</div>
</body>
</html>