<%- include ../../partials/nav %>
<%- include ../../partials/household_top %>

<div class="body-content">
    <div class="content">
        <a href="/household">
            <i class="fas fa-arrow-left fa-3x"></i>
        </a>
        <h1> settings </h1>
        <form action="/household/update" method="POST">
            <label>
                Name of this Household
                <input type="text" name="name" value="<%=household.name%>">
            </label>
            <input type="submit" value="update name">
        </form>
        <form action="/household?_method=DELETE" method="POST">
            <label>
                Delete this Household
                <input type="submit" value="DELETE" class="deletebtn" onclick="return confirm('are you sure?')">
            </label>
        </form>
    </div>
</div>
</body>
</html>