<%- include ../../partials/nav %>
<%- include ../../partials/household_top %>

<div class="content">
        <a href="/household">
            <i class="fas fa-arrow-left fa-3x"></i>
        </a>
        <h1> spendings coming up soon </h1>
</div>

