<%- include ../../partials/nav %>
<%- include ../../partials/household_top %>


<div class="content">
        <a href="/household">
            <i class="fas fa-arrow-left fa-3x"></i>
        </a>
        <h1> members info will be here </h1>
</div>