<%- include ../../partials/nav %>
<%- include ../../partials/household_top %>


<div class="content">
        <a href="/household">
            <i class="fas fa-arrow-left fa-3x"></i>
        </a>
        <h2>Give this invitation code to the person you'd like to invite</h2>
        <br>
        <h1><%= household.accessCode%></h1>
        <br>
        <h2>or simply enter their email below :)</h2>
        <br>
        <p>please allow a few minutes to receive the email...</p>
        <br>
        <br>
        <p>and don't forget to check the SPAM foler...</p><br>
        <form action="/household/members/send" method="POST">
        <input type="text" name="email" placeholder="someone@myhousehold.xx" autocomplete="off">
        <input type="submit" value="send">
        </form>

</div>
</body>
</html>